{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html.twig" %}

{% block title %}{{ category.name }}{% endblock %}
{% block description %}{% endblock %}
{% block image %}https://kde.org/products/apps.png{% endblock %}
{% block canonical %}https://apps.kde.org{{ path('app_main_category_intl', {'_locale': locale, 'category': category.name | lower }) }}{% endblock %}
{% block imageSize %}summary{% endblock %}

{% block body %}
  <main class="container">
    <h1><a href="{{ path('app_main_index', {'_locale': locale}) }}">
        KDE's Applications</a> {{ category.name | capitalize | trans }}
    </h1>

    {% include 'category.html.twig' with {'lazy': false} %}
  </main>
{% endblock %}
